# Introduction

In this report, we will investigate the vegeatables that provide the most nutrition.

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("fruit-and-vegetable-consumption-in-california-residents-20122013.csv")

In [10]:
df

,Year,Age Group,Category,Type,Five or more servings of fruits and vegetables (%)
0,2012,Adolescent (12-17),All,Total,40.2
1,2012,Adolescent (12-17),Gender,Male,37.3
2,2012,Adolescent (12-17),Gender,Female,43.3
3,2012,Adolescent (12-17),Gender by Age- Male,12-13,35.2
4,2012,Adolescent (12-17),Gender by Age- Male,14-15,42.1
...,...,...,...,...,...
65,2013,Child (6-11),Parent Education,Some College/Graduate,24.4
66,2013,Child (6-11),Physical Activity,> 60 minutes,29.9
67,2013,Child (6-11),Physical Activity,< 60 minutes,23.6
68,2013,Child (6-11),Overweight Status,Not Overweight,29.8
69,2013,Child (6-11),Overweight Status,Overweight/Obese,26.9